In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
from numpy.random import randn

In [7]:
np.random.seed(101)
#seed is used to get the same random values

In [9]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [11]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652